body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/124/828/original/bg6.jpg?1714345357");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Hina Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  text-align: center;
  font-family: "Pacifico", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 60px;
  padding: 0;
  margin-top: 0%;
  margin-bottom: 2%;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
  font-family: "Hina Mincho", serif;
  font-weight: 700;
  font-style: normal;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
}
span {
  padding: 20px 0 0 0;
  color: black;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: #d3d6db;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 30px;
}

.city {
  display: flex;
  margin: 20x;
  padding: 20px 0;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  line-height: 36px;
  vertical-align: middle;
}

footer {
  font-family: "Hina Mincho", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 20px;
  color: #d3d6db;
}

a {
  color: #d3d6db;
}
